<!-- <br>
<h2 style="text-align: center;"><strong>Login Form</strong></h2>
<div class="card" style="margin-left: 330px;margin-top: 50px;margin-right: 100px;width: 600px; border-radius: 20px; box-shadow:5px 2px 20px 5px rgb(65, 84, 228);">
      
<form [formGroup]="myform" nonvalidate style="margin-left: 80px;margin-top: 50px;margin-right: 100px;margin-bottom: 50px;float: left;width:70%">
    
    
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Enter email" formControlName="useremail"
            [ngClass]="{'is-invalid':useremail.errors && (useremail.touched||useremail.dirty),'is-valid':useremail.valid}">
      
        <span class="invalid-feedback">
            <strong *ngIf="useremail.errors?.required">Email is Required</strong>
        </span>
    </div>
    <br>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Enter Password" formControlName="password"
            [ngClass]="{'is-invalid':password.errors && (password.touched||password.dirty),'is-valid':password.valid}">
       
        <span class="invalid-feedback">
            <strong *ngIf="password.errors?.required">Password is Required</strong>
            <strong *ngIf="password.errors?.pattern">Pattern does not match</strong>
        </span>
    </div>
    <br>
    
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">SUBMIT</button>
</form>
</div>
<br>

 -->
 <div class="mt-5">
    <div class="col-md-12 min-vh-100 d-flex flex-column">
      <div class="row">
          <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="login-form">
                            <form class="mt-5" [formGroup]="loginForm" (ngSubmit)="login()">
                                <h2 class="text-center secondary ms-mb-m main-heading ng-binding">Login</h2>
                                <br>
                                <div class="mt-5">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="useremail" formControlName="useremail" placeholder="User Email">
                                    <label class="error ng-binding" *ngIf="submitted && f['useremail'].errors?.['required']">Email is required</label>
                                    <label class="error ng-binding" *ngIf="submitted && f['useremail'].errors?.['useremail']">Email must be a valid email address</label>
                                </div>
                                <br>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password">
                                    <label class="error ng-binding" *ngIf="submitted && f['password'].errors?.['required']">Password is required</label>
                                    <label class="error ng-binding" *ngIf="submitted && f['password'].errors?.['minlength']">Password must be at least 6 characters</label>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary" href="">Login</button>
                                
                                <div class="ms-fs-12 text-center ms-mt-x ms-mb-m forgot">
                                    <p style="padding-top:30px">
                                        <a href="register" class="secondary ng-binding" target="_blank">
                                            Don't have an account? Register...
                                        </a>
                                    </p><p>
                                    </p>
                                </div>
                                </div>
                            </form>
                        </div>
                 </div>
             </div>
        </div>
    </div>