<div class="footer">
<br>
<br>
<h2 style="text-align: center;color: white;"><strong>GET IN TOUCH</strong></h2>
<br>
<div class="row">
    
<div class="card column row-cols-md-3" *ngFor="let c of contact1" id="" style="width: 170px;height:170px;margin-left: 80px;margin-right: 110px; border-radius: 100px;">
    <i class="{{c.info5}}" style="font-size:96px;margin-left: 20px;margin-top: 20px;"></i>
</div>



</div>
<div class="row">
    
<div class="column" style="width: 270px;height:155px;margin-right: 92px;padding-right:0px;margin-left: 10px;" *ngFor="let c of contact1">
    <h4><strong><b>{{c.info1}}</b></strong></h4>
    <p><b>{{c.info2}}</b></p>
    <p><b>{{c.info3}}</b></p>
    <p><b>{{c.info4}}</b></p>
</div>
</div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d497698.66005762987!2d77.35072729597826!3d12.954517019779304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1663597700468!5m2!1sen!2sin" width="1250" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br>
     <a style="text-decoration: none;" href="#" class="fab fa-facebook-f"></a>
   <a style="text-decoration: none;" href="#" class="fab fa-twitter"></a>
   <a style="text-decoration: none;" href="#" class="fab fa-google"></a>
   <a style="text-decoration: none;" href="#" class="fab fa-linkedin"></a>
   <a style="text-decoration: none;" href="#" class="fab fa-instagram"></a>
   <br><br>
   <p style="font-size: 20px;">Copyright &copy; 2022 {{title}} </p>
   
   </div>
