
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
   
    <a class="navbar-brand" href="#">
      <img [src]="logo" alt="bookworm"> &nbsp;<b style="color: black;">{{title}}</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex" style="margin-left:100px;">
        <input type="text" #productname placeholder="Search by author, title..." style="border-radius:10px;border: 2px solid; ">&nbsp;
        
        <button class="btn btn-outline-primary" type="submit" (click)="search_product(productname.value);productname.value=''" style="border-radius:10px;">Search</button>
   
        <br>
        
        &nbsp;&nbsp;&nbsp;
        <app-search [product]="productentered"></app-search>
        <input type="text"  (click)="onSearch()" #productname placeholder="Hello User" style="border-radius:10px;border:2px solid;margin-left: 120px;">&nbsp;
        <button class="btn btn-outline-primary" type="submit" (click)="onPost()" style="border-radius:10px;">Post</button>
        
        <a routerLink="login"><button class="btn btn-primary"  *ngIf="!auth"  type="submit"  style="border-radius:2px;margin-left: 120px;height: 50px;">Login</button></a>
        <a routerLink="register"><button class="btn btn-primary" *ngIf="!auth"  type="submit"  style="border-radius:2px;margin-left: 10px;width: 85px;height: 50px;">Sign Up</button></a>
        <form class="d-flex" style="margin-left: 160px;">
          <a class="btn btn-outline-warning"  type="submit" style="border-radius:10px;color:black;margin-right: 10px;" routerLink="login"
            *ngIf="auth">Logout</a>
          <button routerLink='cartitem' style="height:2px;border:none;margin-bottom: 20px;" *ngIf="auth">{{cartCount}}<br>
            <span class="fa fa-cart-plus" style="font-size:36px;color:black;"><sup class="badge badge-warning" style="color:rgb(12, 12, 12);font-size: xx-small;"></sup></span>
          </button> &nbsp;&nbsp;&nbsp;
          
        </form>
        
      </form>
      
    </div>
  </div>
</nav>

 
<nav class="navbar navbar-expand-lg navbar-custom "  style="background-color: rgb(80, 80, 236);">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 10px;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li class="nav-item">
           
            <a class="nav-link active" aria-current="page" routerLink="home">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Home-icon.svg/2048px-Home-icon.svg.png" alt="home" style="height: 30px;width:30px;"></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " routerLink="book"   *ngIf="auth" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
              Book
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="bestseller"  *ngIf="auth" style="color: white;">Best Sellers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="new"  *ngIf="auth" style="color: white;">New arrival</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="boxsets"  *ngIf="auth" style="color: white;">Box Sets</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  *ngIf="auth" style="color: white;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Children & Adults
            </a>
            <ul class="dropdown-menu"  *ngIf="auth" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="children">Children</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="adults">Adults</a></li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="auth">
            <a class="nav-link"   routerLink="featured" style="color: white;">Featured Authors</a>
          </li>
          
          <li class="nav-item dropdown" *ngIf="auth">
            <a class="nav-link dropdown-toggle"   style="color: white;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Fiction & Non-fiction
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="fiction">Fiction</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="non">Non-fiction</a></li>
              
            </ul>
          </li>
          <li class="nav-item" *ngIf="auth">
            <a class="nav-link"    routerLink="school" style="color: white;">School Education</a>
          </li>
          <li class="nav-item" *ngIf="auth">
            <a class="nav-link"   routerLink="test" style="color: white;">Test Preparation</a>
          </li>
          <li class="nav-item" *ngIf="admin">
            <a class="nav-link"   routerLink="productdetails" style="color: white;height:45px;border-radius:5px;background-color: rgb(88, 172, 244);">Prduct Details</a>
          </li>
         
        </ul>
        
      </div>
    </div>
  </nav>

   
  
