img {
    height: 500px;
  }
  .red{
    color: red;
  }
  .yellow{
    color:yellow;
  }
  .green{
    color: green;
  }
  .right{
    width:56%;
    float: right;
    border-radius: 5px;
  }
  .column {
    float: left;
    width: 15%;
    margin-left: 12px;
    
  }
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
      align-items: center;
  

    }
    .responsive {
      width: 100%;
      height: auto;
    }
  
  }

  .row::after {
    content: "";
  clear: both;
  display: table;
  }
  .footer{
    width: 100%;
    text-align: center;
    height: 550px;
    background-color: rgb(28, 80, 193);
    float: left;
    }
    .fa {
      padding: 5px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      margin: 5px 5px;
    }
    .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }