<div class="card-body col-lg-12" [ngSwitch]="product.Status">
    <div class="row" style="margin-top:10px;border-style:solid;border-color:black;border-radius:5px;">
        <div class="col-lg-3">
            <!--Property Binding-->
            <img [src]="product.image" style="width: 200px;height:360px;margin-left: -12px;">
        </div>
        <div class="col-lg-9" style="margin-top:20px;">
            <!--Interpolation Binding-->
            <div>
                Product: {{product.pname | uppercase}}
                <span (click)="showproductDetailsToggle()" [ngClass]="toggleContent()"></span>
            </div>
            <hr>
            <div [style.color]="'blue'" [hidden]="productDetail">
               Description: {{product.pdescription}}
                <br>
              
               </div>
            
            <p [style.padding-left.px]="'05'" *ngSwitchCase="'In Stock'" class="text-success">{{product.Status}}</p>
            <p [style.padding-left.px]="'05'" *ngSwitchCase="'Out of Stock'" class="text-danger">{{product.Status}}</p>

       
        <app-counter1></app-counter1><br><br>
        Price: {{product.price | currency:'INR'}}

        <br>
        <br><button class="btn btn-dark" *ngSwitchCase="'In Stock'" (click)="onAdd()" style="width:150px;height:40px;border-radius:5px;">Add to Cart</button>
        <button class="btn btn-dark" *ngSwitchCase="'Out of Stock'" (click)="onAdd1()" style="width:150px;height:40px;border-radius:5px;">Notify me</button>
        </div>
    </div>