img {
    height: 500px;
  }
  .red{
    color: red;
  }
  .yellow{
    color:yellow;
  }
  .green{
    color: green;
  }
  .right{
    width:56%;
    float: right;
    border-radius: 5px;
  }
  body{
    background-color: rgb(125, 194, 249);
  }