<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        
        <img src="https://static01.nyt.com/images/2022/07/25/books/00AUGUST-BOOKS-COMBO/00AUGUST-BOOKS-COMBO-videoSixteenByNine3000.jpg" class="d-block w-100" alt="book">
        
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://www.jdandj.com/uploads/8/0/0/8/80083458/3d-images-for-books-and-authors_orig.jpg" class="d-block w-100" alt="book">
        
      </div>
      <div class="carousel-item">
        <img src="https://images.ctfassets.net/usf1vwtuqyxm/3tlJfrdpiEwOIOAgs2q6oo/18345e6533ded78abc3e90fd788dd5e2/Bolt_BookArray_Web_Grey_BG.jpg?fm=jpg&q=70&w=2560" class="d-block w-100" alt="book">
        
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
 <hr>
 
 <h2 style="text-align:center;"><b>Now Trending</b></h2><br>
 <div class="row row-cols-1 row-cols-md-6 g-4" style="margin-left: 50px; margin-right: 50px; ">
  <div class="col">
    <div class="card">
      <a routerLink="">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71j0FLAauxL.jpg" class="card-img-top" style="height: 250px ; " alt="...">
    </a>
    <div class="card-body">
      <!-- Scrollable modal -->
      <h6>It ends with us</h6>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Quick View
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Book details</h5>
              
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              <img src="https://images-na.ssl-images-amazon.com/images/I/71j0FLAauxL.jpg" alt="book" style="height: 250px;width:200px;">
              
              <div class="right">
                <h6 style="padding: 20px;">It ends with us</h6>
              <p style="padding: 20px;">It Ends With Us is the story of Lily who witnessed her mother getting abused by her father all her life and feeling helpless to do anything about it. Determined to live her life on her terms, she moves to Boston and it is here that she meets Dr. Ryle Kincaid.</p>
             
            </div>
           <br>
           <br>
           Price: {{price | currency:'INR'}}
           <br>
           <br>
            <input type="number" min="1" max="5" value="1">
            <button type="button" class="btn btn-primary" style="margin-left: 15px;" (click)="onAdd()">Add to cart</button>
        <br>
            <div class="modal-footer">
              <br>
    </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  
  <div class="col">
    <div class="card">
      <a routerLink="">
      <img src="https://images-na.ssl-images-amazon.com/images/I/814L+vq01mL.jpg" class="card-img-top" style="height: 250px ; width: 170px;" alt="...">
    </a>
    
    <div class="card-body">
      <!-- Scrollable modal -->
      <h6>Ikigai</h6>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
        Quick View
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Book details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              <img src="https://images-na.ssl-images-amazon.com/images/I/814L+vq01mL.jpg" alt="book" style="height: 250px;width:200px;">
              <div class="right">
                <h6 style="padding: 20px;">Ikigai</h6>
              <p style="padding: 20px;">Ikigai gently unlocks simple secrets we can all use to live long, meaningful, happy lives. </p>
             
            </div>
           <br>
           <br>
           Price: {{price6 | currency:'INR'}}
           <br>
           <br>
            <input type="number" min="1" max="5" value="1">
            <button type="button" class="btn btn-primary" style="margin-left: 15px;" (click)="onAdd()">Add to cart</button>
        <br>
            <div class="modal-footer">
              <br>
    </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a routerLink=" ">
      <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQ8PwfBvbpv4zsUQHe1CQNrsyK-Q_RtKLNXZ9wUElyptUsl5RxQHUvxa0e0xVK6BWj2mTSwKvVnahZDJEIOnbz4lsmgFTofMwdQU5b2v-fxDTwDPXIQ7ELWKA&usqp=CAE" class="card-img-top" style="height: 250px ; width: 170px; " alt="...">
    </a>
    <div class="card-body">
      <!-- Scrollable modal -->
      <h6>Atomic habits</h6>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        Quick View
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Book details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQ8PwfBvbpv4zsUQHe1CQNrsyK-Q_RtKLNXZ9wUElyptUsl5RxQHUvxa0e0xVK6BWj2mTSwKvVnahZDJEIOnbz4lsmgFTofMwdQU5b2v-fxDTwDPXIQ7ELWKA&usqp=CAE" alt="book" style="height: 250px;width: 180px;">
              <div class="right">
                <h6 style="padding: 20px;">Atomic habits</h6>
              <p style="padding: 20px;">Packed with evidence-based strategies, it will teach you how to make small changes that will transform your habits and deliver amazing results.</p>
             
            </div>
           <br>
           <br>
           Price: {{price1 | currency:'INR'}}
           <br>
           <br>
            <input type="number" min="1" max="5" value="1">
            <button type="button" class="btn btn-primary" style="margin-left: 15px;" (click)="onAdd()">Add to cart</button>
        <br>
            <div class="modal-footer">
              <br>
    </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a routerLink="">
      <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQTFd50hdFRAq8U5OPYRwXi7TsDjmZPqSI3MKhYW44iv0iIJ23pkR9_YVSn34Pld8Xgk8XCCnEP6udrvyz7hOc4AGZ3FETmKOyej0-0qqk&usqp=CAE" class="card-img-top" style="height: 250px ; width: 170px;" alt="...">
    </a>
    <div class="card-body">
      <!-- Scrollable modal -->
      <h6>The new strong</h6>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLabel3">
        Quick View
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModalLabel3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Book details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQTFd50hdFRAq8U5OPYRwXi7TsDjmZPqSI3MKhYW44iv0iIJ23pkR9_YVSn34Pld8Xgk8XCCnEP6udrvyz7hOc4AGZ3FETmKOyej0-0qqk&usqp=CAE" alt="book" style="height: 250px;width:180px;">
              <div class="right">
                <h6 style="padding: 20px;">The last thing he told me</h6>
              <p style="padding: 20px;">The New York Times bestselling author of Dying to Be Me returns with “a gorgeous and powerful field guide to the empath living in today's wild world” </p>
             
            </div>
           <br>
           <br>
           Price: {{price2 | currency:'INR'}}
           <br>
           <br>
            <input type="number" min="1" max="5" value="1">
            <button type="button" class="btn btn-primary" style="margin-left: 15px;" (click)="onAdd()">Add to cart</button>
        <br>
            <div class="modal-footer">
              <br>
    </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a routerLink=" ">
      <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQpoNKaP9kv4otNLiMUmOGdJ1DThotYDMDlySl0xBkTDMOvlDgihltGJ_Dei-zSX__nuy-A4TzOE-H6OrzlH3nmo1iuzFe6SrdPjPrbnE2ns5IaAMDta0si9g&usqp=CAE" class="card-img-top" style="height: 250px ; width: 170px;" alt="...">
    </a>
    <div class="card-body">
      <!-- Scrollable modal -->
      <h6>Song of Achilles</h6>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLabel4">
        Quick View
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModalLabel4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel4">Book details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQpoNKaP9kv4otNLiMUmOGdJ1DThotYDMDlySl0xBkTDMOvlDgihltGJ_Dei-zSX__nuy-A4TzOE-H6OrzlH3nmo1iuzFe6SrdPjPrbnE2ns5IaAMDta0si9g&usqp=CAE" class="card-img-top" style="height: 250px ; width: 180px;">
              <div class="right">
                <h6>Song of Achilles</h6>
              <p style="padding: 20px;">The Song of Achilles is a retelling of classic Greek mythology involving Patroclus and Achilles, specifically covering the battle of Troy. </p>
             
            </div>
           <br>
           <br>
           Price: {{price3 | currency:'INR'}}
           <br>
           <br>
            <input type="number" min="1" max="5" value="1">
            <button type="button" class="btn btn-primary" style="margin-left: 15px;" (click)="onAdd()">Add to cart</button>
        <br>
            <div class="modal-footer">
              <br>
    </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a routerLink="">
      <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRv-MavXhPYuIqu5yFGwkAZpMaGONuqRfkKg3X36smduMfcNZzxKqB5bAEFM3F1bo0qzBLZnBv-QmNc71x41J26J6CxjBL83niCv4bIK6E&usqp=CAE" class="card-img-top" style="height: 250px ; " alt="...">
      </a>
      <div class="card-body">
        <!-- Scrollable modal -->
        <h6>A promised land</h6>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal6">
          Quick View
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel5">Book details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
              
                <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRv-MavXhPYuIqu5yFGwkAZpMaGONuqRfkKg3X36smduMfcNZzxKqB5bAEFM3F1bo0qzBLZnBv-QmNc71x41J26J6CxjBL83niCv4bIK6E&usqp=CAE" alt="book" style="height: 250px;width:200px;">
                <div class="right">
                  <h6 style="padding:20px;">A promised land</h6>
                <p style="padding: 20px;">A Promised Land is a memoir by Barack Obama, the 44th president of the United States from 2009 to 2017</p>
               
              </div>
             <br>
             <br>
             Price: {{price4| currency:'INR'}}
             <br>
             <br>
              <input type="number" min="1" max="5" value="1">
              <button type="button" class="btn btn-primary" style="margin-left: 15px;" (click)="onAdd()">Add to cart</button>
          <br>
              <div class="modal-footer">
                <br>
      </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
