input {
    width: 60%;
    margin-left: 100px;
}

label {
    color:red;
    margin-left: 100px;
}

form {
    padding: 20px;
    margin-left: 400px;
    width: 40%;
    border-style: inset;
    border-radius: 10px;
    border-color: black;
    box-shadow: 12px 13px 14px rgb(49, 83, 221);
    background-color: rgb(133, 178, 255);
}

form:hover {
    background-color: rgb(175, 201, 248);
    transform:scale(1.1);

}

button {
    margin-left: 100px;
}

span {
    width: 100%;
}